.popup {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}
.popup:nth-of-type(3) {
    background-color: rgba(0, 0, 0, 0.9);
}

.popup > .popup__container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.popup:hover > .popup__container {
    visibility: visible;
    opacity: 1;
}



.popup > .popup__container-image {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
  .popup:hover > .popup__container-image {
    visibility: visible;
    opacity: 1;
}