.popup__close-button-image {
    width: 40px;
    height: 40px;
    background: transparent url(../../../images/close-icon.svg) center no-repeat;
    background-size: 35px 35px;
    border: none;
    cursor: pointer;
    outline: none;
}

.popup__close-button-image:hover {
    opacity: 0.6;
    transition: 1s linear;
}

@media screen and (max-width: 767px) {    
    .popup__close-button {
        width: 26px;
        height: 26px;
        background-size: 20px 20px;
        top: -50px;
        right: 0;
    }
}